<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tsundoku.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B55AA7D01DDED62F0033AB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B55AA7E41DDED6300033AB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B55AA7EF1DDED6300033AB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
